name: DevSecOps Spring Boot Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  security-pipeline:
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      contents: read
      issues: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Dependency Check data
        uses: actions/cache@v3
        with:
          path: ~/.gradle/dependency-check-data
          key: dependency-check-${{ runner.os }}
          restore-keys: |
            dependency-check-


      - name: Grant execute permission
        run: chmod +x gradlew

      # =====================
      # BUILD + TEST
      # =====================
      - name: Build project
        run: ./gradlew build

      - name: Run tests
        run: ./gradlew test

      # =====================
      # SAST - CodeQL
      # =====================
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Analyze
        uses: github/codeql-action/analyze@v3

      # =====================
      # Dependency Scan
      # =====================
      - name: OWASP Dependency Check
        run: ./gradlew dependencyCheckAnalyze --stacktrace --info
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}

      # =====================
      # Start App
      # =====================
      - name: Start Spring Boot App
        run: |
          ./gradlew bootRun &
          sleep 40
          curl -I http://localhost:8080/hello?name=test

      # =====================
      # DAST - NUCLEI
      # =====================
      - name: Install Nuclei
        run: |
          sudo apt-get update
          sudo apt-get install -y golang-go
          go install github.com/projectdiscovery/nuclei/v3/cmd/nuclei@latest
          echo "$HOME/go/bin" >> $GITHUB_PATH

      - name: Update Templates
        run: nuclei -update-templates

      - name: Run Nuclei Scan
        run: |
          nuclei -u http://localhost:8080 \
            --severity critical,high \
            --fail-on critical,high


