name: DevSecOps Spring Boot Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  security-pipeline:
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      contents: read
      issues: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Dependency Check data
        uses: actions/cache@v3
        with:
          path: ~/.gradle/dependency-check-data
          key: dependency-check-${{ runner.os }}
          restore-keys: |
            dependency-check-


      - name: Grant execute permission
        run: chmod +x gradlew

      # =====================
      # BUILD + TEST
      # =====================
      - name: Build project
        run: ./gradlew build

      - name: Run tests
        run: ./gradlew test

      # =====================
      # SAST - CodeQL
      # =====================
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Analyze
        uses: github/codeql-action/analyze@v3

      # =====================
      # Dependency Scan
      # =====================
      - name: OWASP Dependency Check
        run: ./gradlew dependencyCheckAnalyze --stacktrace --info
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}

      # =====================
      # Start App
      # =====================
      - name: Start Spring Boot App
        run: |
          ./gradlew bootRun &
          sleep 40
          curl -I http://localhost:8080/hello?name=test
      # Expose app
      - name: Setup ngrok
        uses: ngrok/ngrok-action@v1
        with:
          authtoken: ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Start tunnel
        run: |
          ngrok http 8080 &
          sleep 10

      - name: Get public URL
        id: geturl
        run: |
          sudo apt-get install -y jq
          URL=$(curl -s http://127.0.0.1:4040/api/tunnels | jq -r '.tunnels[0].public_url')
          echo "PUBLIC_URL=$URL" >> $GITHUB_ENV
          echo "Public URL is $URL"


      # =====================
      # DAST - SOOS
      # =====================
      - name: Run SOOS DAST Scan
        uses: soos-io/soos-dast-github-action@v2
        with:
          api_key: ${{ secrets.API_KEY }}
          client_id: ${{ secrets.CLIENT_ID }}
          project_name: "SpringBoot Demo"
          target_url: "http://localhost:8080"
          scan_mode: "Baseline"
          severity: "High,Critical"



